.a-3 {
    cursor: pointer;
}

.a-4{
    background: none !important;
    color: #0e0e0e !important;
}

.btn-1{
    margin-left: 25px;
    background-color: #fcfcff;
}

.btn-4 {
    line-height: 30px;
    padding: 0 10px;
    min-width: unset;
    margin-right: unset;
}

.cell-1 {
    width:8%;
}

.div-1 {
    padding-left: 2%;
    padding-right: 2%;
}

.div-2 {
    text-align: center;
    margin-top: 10%;
}

.d-3 {
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.div-content {
    overflow: hidden;
    overflow-y: auto ;
    scrollbar-width: thin;
    scrollbar-color: #1b4fa6 white;
    height: calc(100vh - 245px);
}

.highlight {
    background: #edf7ff;
}

.icon-2 {
    font-size: 22px;
    color: #1b4fa6;;
}

.icon-3 {
    color: red;
}

.icon-4 {
    font-size: 16px;
    color: red;
}

.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    border-bottom: 12px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.1s linear infinite; /* Safari */
    animation: spin 1.1s linear infinite;
    display: inline-block;
}

/*
    Loader CSS START
*/

.loaderDiv {
    width: 100%;
    text-align: center;
}

.loaderSpan {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
    Loader CSS Ende
*/

.mat-header-cell {
    width: calc(100% / 78);
}

.mat-cell {
    font-size: 12px;
}

.mat-table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.btn-activate{
    background-color: #26B99A;
    border: 1px solid #169F85;
    /* border-radius: 3px; */
    color: #fff;
    padding: 0px 17px;
    line-height: 20px;
}

.btn-in-activate{
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    color: #fff;
    padding: 0px 9px;
    line-height: 20px;
}
